@page
@model GSOR.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div id="orWebMain">
    <h1>OR Web</h1>
    <p>Nothing to see here <a href="/swagger">swagger ui</a></p>
</div>

@section scripts{
}
